body {
	font-size: 15px;
	background-color: #EEEEEE;
}

#container {
	-webkit-perspective: 60em;
	-webkit-perspective-origin: -50% -50%;
	position: relative;
	width: 20em; height: 20em;
	margin: 10em auto;
}

#dice {
	-webkit-transform: translateZ(-10em);
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 1s;
	position: relative;
	width: 20em; height: 20em;
}

#dice .face {
	position: absolute;
	width: 20em; height: 20em;
	background-color: rgba(240,150,100,0.8);
	border: 1px black solid;
	border-radius: 1em;
	cursor: pointer;
}

#dice .face .face-content {
	text-align: center;
	position: absolute;
	top: 50%;
	width: 100%; height: 100%;
	font-size: 2em;
	color: white;
}

/*Front*/
#dice .face:nth-child(1) {
    -webkit-transform: translateZ(10em);
}

/*Bottom*/
#dice .face:nth-child(2) {
	-webkit-transform: rotateX(-90deg) translateZ(10em);
}

/*Left*/
#dice .face:nth-child(3) {
	-webkit-transform: rotateY(90deg) translateZ(10em);
}

/*Right*/
#dice .face:nth-child(4) {
	-webkit-transform: rotateY(-90deg) translateZ(10em);
}

/*Top*/
#dice .face:nth-child(5) {
	-webkit-transform: rotateX(90deg) translateZ(10em);
}

/*Back*/
#dice .face:nth-child(6) {
	-webkit-transform: rotateY(180deg) translateZ(10em);
}

/*Dice Interaction*/
/*Front*/
#dice.front {
	-webkit-transform: translateZ(-10em) rotateY(0deg);
}
/*Bottom*/
#dice.bottom {
	-webkit-transform: translateZ(-10em) rotateX(90deg);
}
/*Left*/
#dice.left {
	-webkit-transform: translateZ(-10em) rotateY(-90deg);
}
/*Right*/
#dice.right {
	-webkit-transform: translateZ(-10em) rotateY(90deg);
}
/*Top*/
#dice.top {
	-webkit-transform: translateZ(-10em) rotateX(-90deg);
}
/*Back*/
#dice.back {
	-webkit-transform: translateZ(-10em) rotateX(-180deg);
}