body {
	font-size: 15px;
	background: rgb(205,235,142);
	font-family: sans-serif;
}

/*Nav Style*/
nav {
	position: fixed;
	top: 1em;
	left: 1em;
	border-radius: 1em;
	background-color: #AAAAAA;
	-webkit-box-shadow: 1px 1px 0 #999999,
		2px 2px 0 #888888,
		3px 3px 0 #777777,
		4px 4px 0 #666666;
	box-shadow: 1px 1px 0 #999999,
		2px 2px 0 #888888,
		3px 3px 0 #777777,
		4px 4px 0 #666666;
	padding: 1em 0 0;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav header {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
	padding: 0 1em;
}

nav ul li {
	font-size: 1.2em;
	cursor: pointer;
	padding: 0.5em 1em;
	margin: 1px 0;
}

nav ul li.active {
	border-top: 1px black dashed;
	border-bottom: 1px black dashed;
}

nav ul li:hover {
	background-color: #DDDDDD;
}

header .title {
	margin: 0.5em auto 0;
	width: 100%;
	text-align: center;
	font-size: 5em;
	font-weight: bold;
	text-decoration: overline;
	color: #f56e6c;
	text-shadow: 0px 0px 0 rgb(221,86,84), 1px 1px 0 rgb(206,71,69), 2px 2px 0 rgb(192,57,55), 3px 3px 0 rgb(177,42,40), 4px 4px 0 rgb(163,28,26), 5px 5px 0 rgb(148,13,11), 6px 6px 0 rgb(134,-1,-3), 7px 7px 6px rgba(0,0,0,0.6), 7px 7px 1px rgba(0,0,0,0.5), 0px 0px 6px rgba(0,0,0,.2);
}

/*3D Dice*/
#container {
	-webkit-perspective: 60em;
	-moz-perspective: 60em;
	perspective: 60em;
	-webkit-perspective-origin: -70% -70%;
	-moz-perspective-origin: -70% -70%;
	perspective-origin: -70% -70%;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	position: relative;
	width: 20em;
	height: 20em;
	margin: 8em auto;
}

/*Dice Views*/
#container.top-left {
	-webkit-perspective-origin: -70% -70%;
	-moz-perspective-origin: -70% -70%;
	perspective-origin: -70% -70%;
}

#container.bottom-left {
	-webkit-perspective-origin: -70% 170%;
	-moz-perspective-origin: -70% 170%;
	perspective-origin: -70% 170%;
}

#container.top-right {
	-webkit-perspective-origin: 170% -70%;
	-moz-perspective-origin: 170% -70%;
	perspective-origin: 170% -70%;
}

#container.bottom-right {
	-webkit-perspective-origin: 170% 170%;
	-moz-perspective-origin: 170% 170%;
	perspective-origin: 170% 170%;
}

#dice {
	-webkit-transform: translateZ(-10em);
	-moz-transform: translateZ(-10em);
	-o-transform: translateZ(-10em);
	-ms-transform: translateZ(-10em);
	transform: translateZ(-10em);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	position: relative;
	width: 20em;
	height: 20em;
}

#dice .face {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: absolute;
	width: 20em;
	height: 20em;
	cursor: pointer;
	border-radius: 1em;
}

/*To fill gaps left by border radius*/
#dice .face:after {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	-ms-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	content: '';
	right: 0px;
	bottom: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: black;
	border-radius: 1em;
}

#dice .face:hover .face-content {
	opacity: 1;
}

#dice .face .face-content {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 2em;
	opacity: 0;
	color: red;
	background: rgba(250,50,50,0.3);
	border-radius: 1em;
}

/*Face Translation*/
/*Front*/
#dice .face:nth-child(1) {
	-webkit-transform: translateZ(10em);
	-moz-transform: translateZ(10em);
	-o-transform: translateZ(10em);
	-ms-transform: translateZ(10em);
	transform: translateZ(10em);
}

/*Bottom*/
#dice .face:nth-child(2) {
	-webkit-transform: rotateX(-90deg) translateZ(10em);
	-moz-transform: rotateX(-90deg) translateZ(10em);
	-o-transform: rotateX(-90deg) translateZ(10em);
	-ms-transform: rotateX(-90deg) translateZ(10em);
	transform: rotateX(-90deg) translateZ(10em);
}

/*Left*/
#dice .face:nth-child(3) {
	-webkit-transform: rotateY(-90deg) translateZ(10em);
	-moz-transform: rotateY(-90deg) translateZ(10em);
	-o-transform: rotateY(-90deg) translateZ(10em);
	-ms-transform: rotateY(-90deg) translateZ(10em);
	transform: rotateY(-90deg) translateZ(10em);
}

/*Right*/
#dice .face:nth-child(4) {
	-webkit-transform: rotateY(90deg) translateZ(10em);
	-moz-transform: rotateY(90deg) translateZ(10em);
	-o-transform: rotateY(90deg) translateZ(10em);
	-ms-transform: rotateY(90deg) translateZ(10em);
	transform: rotateY(90deg) translateZ(10em);
}

/*Top*/
#dice .face:nth-child(5) {
	-webkit-transform: rotateX(90deg) translateZ(10em);
	-moz-transform: rotateX(90deg) translateZ(10em);
	-o-transform: rotateX(90deg) translateZ(10em);
	-ms-transform: rotateX(90deg) translateZ(10em);
	transform: rotateX(90deg) translateZ(10em);
}

/*Back*/
#dice .face:nth-child(6) {
	-webkit-transform: rotateY(180deg) translateZ(10em);
	-moz-transform: rotateY(180deg) translateZ(10em);
	-o-transform: rotateY(180deg) translateZ(10em);
	-ms-transform: rotateY(180deg) translateZ(10em);
	transform: rotateY(180deg) translateZ(10em);
}

/*Dice Interaction*/
/*One*/
#dice.front {
	-webkit-transform: translateZ(-10em) rotateY(0deg);
	-moz-transform: translateZ(-10em) rotateY(0deg);
	-o-transform: translateZ(-10em) rotateY(0deg);
	-ms-transform: translateZ(-10em) rotateY(0deg);
	transform: translateZ(-10em) rotateY(0deg);
}

/*Two*/
#dice.bottom {
	-webkit-transform: translateZ(-10em) rotateX(90deg);
	-moz-transform: translateZ(-10em) rotateX(90deg);
	-o-transform: translateZ(-10em) rotateX(90deg);
	-ms-transform: translateZ(-10em) rotateX(90deg);
	transform: translateZ(-10em) rotateX(90deg);
}

/*Three*/
#dice.left {
	-webkit-transform: translateZ(-10em) rotateY(90deg);
	-moz-transform: translateZ(-10em) rotateY(90deg);
	-o-transform: translateZ(-10em) rotateY(90deg);
	-ms-transform: translateZ(-10em) rotateY(90deg);
	transform: translateZ(-10em) rotateY(90deg);
}

/*Four*/
#dice.right {
	-webkit-transform: translateZ(-10em) rotateY(-90deg);
	-moz-transform: translateZ(-10em) rotateY(-90deg);
	-o-transform: translateZ(-10em) rotateY(-90deg);
	-ms-transform: translateZ(-10em) rotateY(-90deg);
	transform: translateZ(-10em) rotateY(-90deg);
}

/*Five*/
#dice.top {
	-webkit-transform: translateZ(-10em) rotateX(-90deg);
	-moz-transform: translateZ(-10em) rotateX(-90deg);
	-o-transform: translateZ(-10em) rotateX(-90deg);
	-ms-transform: translateZ(-10em) rotateX(-90deg);
	transform: translateZ(-10em) rotateX(-90deg);
}

/*Six*/
#dice.back {
	-webkit-transform: translateZ(-10em) rotateY(180deg);
	-moz-transform: translateZ(-10em) rotateY(180deg);
	-o-transform: translateZ(-10em) rotateY(180deg);
	-ms-transform: translateZ(-10em) rotateY(180deg);
	transform: translateZ(-10em) rotateY(180deg);
}

/*Dice Sprite*/
.dice-sprite {
	-webkit-background-size: 640%;
	-moz-background-size: 640%;
	background-size: 640%;
	background-image: url('images/Dice_Faces.svg');
	background-repeat: no-repeat;
	width: 20em;
	height: 20em;
	border-radius: 1em;
}

.dice-sprite.front {
	background-position: -2.1em -21.9em;
}

.dice-sprite.bottom {
	background-position: -22.9em -21.9em;
}

.dice-sprite.left {
	background-position: -43.7em -21.9em;
}

.dice-sprite.right {
	background-position: -64.5em -21.9em;
}

.dice-sprite.top {
	background-position: -85.6em -21.9em;
}

.dice-sprite.back {
	background-position: -106.4em -21.9em;
}

@media only screen and (max-width:481px) {
	body { font-size: 10px; }
	nav li { float: left; }
	nav { top:0; left:0; }
	header .title { margin-top: 2em; }
}
@media only screen and (min-width: 482px) and (max-width:769px) {
	body { font-size: 12px; }
	nav li { float: left; }
	nav { top:0; left:0; }
	header .title { margin-top: 2em; }
}
