body {
	margin: 0;
}

#container {
	margin: 40px auto;
	/* Twelve letters of 40px + 12 * 2px margin */
	width: 504px; /* 12 * 40px + 24px = 600px*/
	position: relative;
}

.letter-wrapper {
	-webkit-perspective: 400px;
	float: left;
	position: relative;
	margin: 0 1px;
}

.letter {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	transition: 1s;
	margin: 0;
	position: relative;
	width: 40px;
	height: 34px;
}

.letter div {
	-webkit-backface-visibility: hidden;
	text-align: center;
	font-size: 30px;
	width: 40px;
	height: 30px;
	padding: 2px 0;
	position: absolute;
}

.letter .lower-case {
	background: red;
	color: white;

	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.letter .upper-case {
	background: black;
	color: yellow;
}

.letter-hover {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
